@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
      @apply bg-blue-500 hover:bg-blue-400 p-3 py-1 text-white rounded-md text-xs font-bold;
    }
  }

body{
  background: black;
}
.container{
  box-shadow: 0 0 40px 10px rgb(167, 240, 253);
  background-color: rgba(42, 47, 47, 0.812);
}